In [1]:
# Ejemplo RNN prediction bitcoin
# solo preparacion de datos

import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

from sklearn.metrics import mean_absolute_error
from keras.models import Sequential
from keras.layers import Dense, LSTM, Dropout, Flatten

Using TensorFlow backend.

In [2]:
# carga de datos
bit_data = pd.read_csv("bitstampUSD.csv", names=['Timestamp', 'Price', 'Volume'], header=None) # son app 1Gbytes de datos.

In [3]:
bit_data.head()

    Timestamp  Price   Volume
0  1315922016   5.80   1.0000
1  1315922024   5.83   3.0000
2  1315922029   5.90   1.0000
3  1315922034   6.00  20.0000
4  1315924373   5.95  12.4521

In [4]:
bit_data.shape

(49172543, 3)

In [5]:
# Add a column for date and convert Timestamp columns to date form.
bit_data["date"]=pd.to_datetime(bit_data["Timestamp"],unit="s").dt.date
bit_data.head()

    Timestamp  Price   Volume        date
0  1315922016   5.80   1.0000  2011-09-13
1  1315922024   5.83   3.0000  2011-09-13
2  1315922029   5.90   1.0000  2011-09-13
3  1315922034   6.00  20.0000  2011-09-13
4  1315924373   5.95  12.4521  2011-09-13

In [8]:
# Paso 2
group=bit_data.groupby("date")
data=group["Price"].mean()
bit_data.head()

    Timestamp  Price   Volume        date
0  1315922016   5.80   1.0000  2011-09-13
1  1315922024   5.83   3.0000  2011-09-13
2  1315922029   5.90   1.0000  2011-09-13
3  1315922034   6.00  20.0000  2011-09-13
4  1315924373   5.95  12.4521  2011-09-13

In [9]:
data.head()

date
2011-09-13    5.874167
2011-09-14    5.582143
2011-09-15    5.120000
2011-09-16    4.835000
2011-09-17    4.870000
Name: Price, dtype: float64

In [17]:
data.shape

(3448,)

In [19]:
type(data)

pandas.core.series.Series

In [21]:
data.to_csv('data_bitcoin.csv', index=False)